/*****BASE STYLES*****/
body {
    font-family: 'Montserrat', sans-serif;
}

/*****GRID*****/
.full-width {
    margin: 0 auto;
    width: 1200px;
}

/*****HEADER*****/
header {
    border-bottom: 3px solid #77a466;
    height: 110px;
    margin: 0 auto;
}

header h1 {
    color: #000000;
    float: left;
    font-size: 30px;
    line-height: 23px;
    margin: 0;
    padding: 38px 0;
    text-transform: uppercase;
}

header h1 span {
    color: #77a466;
}

header nav {
    float: right;
    padding: 46px 0;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    padding: 0 10px;
    text-transform: uppercase;
}

header nav ul li a {
    color: #77a466;
    text-decoration: none;
}

/*****IMAGE & BORDERS*****/
.top-section {
    clear: both;
    margin: 0 auto;
}

.hero-img {
    float: left;
    height: auto;
}

.hero-img img {
    border-bottom: 3px solid #77a466;
}

/*****MAIN - TAG-LINE & INTRO*****/
.main {
    float: left;
    height: auto;
}

.main h3 {
    color: #77a466;
    font-size: 18px;
    line-height: 23px;
    padding: 5px 0;
    text-align: left;
    text-transform: uppercase;
}

.main p {
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    padding: 0;
}

/*****SPECIALS, REVIEWS, CONTACT*****/
.bottom-section {
    clear: both;
    margin: 0 auto;
}

.bottom-section h3 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
}

.section-one {
    border-top: 1px solid #eeeeee;
    float: left;
    height: auto;
    padding: 10px 0;
    width: 399px;
}

.specials h3 {
    padding 10px 0;
}

.specials li {
    color: #77a466;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    padding: 10px 0;
}

.section-two {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    float: left;
    height: auto;
    width: 399px;
}
.reviews h3 {
    padding: 10px 30px;
}
.reviews {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
}

.section-three {
    border-top: 1px solid #eeeeee;
    float: left;
    height: auto;
    width: 399px;
}

.contact h3 {
    padding: 10px 30px;
}

.contact {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

/*****FOOTER*****/
footer {
    border-top: 1px solid #eeeeee;
    clear: both;
    height: 50px;
    margin: 0 auto;
}

footer h4 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

footer span {
    color: #77a466;
    font-family: 'Galada', cursive;
    font-size: 14px;
    text-transform: lowercase;
}
