/*****BASE STYLES*****/
body {
    font-family: 'Montserrat', sans-serif;
}

/*****GRID*****/
.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    margin: 0 auto;

    width: 600px;
}

/*****HEADER*****/
header {
    border-bottom: 3px solid #77a466;
    height: 110px;
    margin: 0 auto;
}

header h1 {
    color: #000000;
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 38px 0;
    text-transform: uppercase;
}

header h1 span {
    color: #77a466;
}

header nav {
    float: right;
    padding: 46px 0;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    text-transform: uppercase;
}

header nav ul li a {
    color: #77a466;
    text-decoration: none;
}

/*****HERO IMAGE*****/
.top-section {
    clear: both;
    margin: 0 auto;
}

.hero-img {
    float: left;
    height: auto;
}

.hero-img img {
    border-bottom: 3px solid #77a466;
}

/*****MAIN - TAG-LINE & INTRO*****/
.main {
    float: left;
    height: auto;
}

.main h3 {
    color: #77a466;
    font-size: 18px;
    padding: 5px 0;
    text-align: left;
    text-transform: uppercase;
}

.main p {
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    padding: 0;
}

/*****SPECIALS, REVIEWS, CONTACT*****/
.bottom-section {
    clear: both;
    margin: 0 auto;
}

.bottom-section h4 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.specials {
    border-top: 1px solid #eeeeee;
    float: left;
    height: auto;
    padding: 10px 0;
    width: 399px;
}

.specials h4 a {
    color: #000000;
    padding: 0;
    text-decoration: none;
}

.specials ul {
    list-style: none;
    padding: 0;
}

.specials ul li {
    color: #77a466;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 0;
}

.reviews {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    float: left;
    height: auto;
    width: 399px;
}
.reviews h4 a {
    color: #000000;
    padding: 10px 30px;
    text-decoration: none;
}
.reviews p {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    padding: 0 30px;
}

.contact {
    border-top: 1px solid #eeeeee;
    float: left;
    height: auto;
    width: 399px;
}

.contact h4 a {
    color: #000000;
    padding: 10px 30px;
    text-decoration: none;
}

.contact p {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
}

/*****FOOTER*****/
footer {
    border-top: 3px solid #eeeeee;
    clear: both;
    height: 50px;
    margin: 0 auto;
}

footer h4 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

footer span {
    color: #77a466;
    font-family: 'Galada', cursive;
    font-size: 14px;
    text-transform: lowercase;
}

/*****MENU PAGE*****/
.menu-main {
    float: left;
    height: auto;
}

.menu-main h3 {
    color: #77a466;
    font-size: 18px;
    padding: 5px 0;
    text-align: left;
    text-transform: uppercase;
}

.menu-main p {
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    padding: 0;
}

/*****GALLERY*****/
.gallery {
    float: left;
    height: auto;
}

.gallery h2 {
    clear: both;
    color: #77a466;
    font-size: 24px;
    padding: 5px 0;
    text-transform: uppercase;
}

.row {
    margin: 8px -16px;
}
  
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 4px;
}
  
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 400px;
}

/* Clear floats after rows */
.row:after {
    display: table;
    clear: both;
}

/* Content */
.content {
    padding: 10px;
}
  