/*****BASE STYLES*****/
body {
    font-family: 'Montserrat', sans-serif;
}

/*****GRID*****/
.full-width {
    margin: auto;
    width: 1200px;
}

.half-width {
    margin: auto;
    width: 600px;
    float: left;
}

/*****HEADER*****/
header {
    height: 868px;
    margin: auto;
    width: 1200px;
}

h1 {
    color: #000000;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
}

h1 span {
    color: #77a466;
}

nav {
    float: right;
    margin: auto;
}

nav ul li {
    color: #77a466;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    padding: 5px;
    text-transform: uppercase;
    top: auto;
}

/*****IMAGE & BORDERS*****/
.section-one {
    margin: auto;
    width: 1200px;
}

.border-top-1 {
    background-color: #77a466;
    position: absolute;
    top: 110px;
    width: 1200px;
    height: 3px;
    z-index: 31;
}
.hero-img {
    background-image: url("hero-image.png");
    position: absolute;
    top: 113px;
    width: 1200px;
    height: 288px;
    z-index: 28;
}
.border-bottom-1 {
    background-color: #77a466;
    position: absolute;
    top: 401px;
    width: 1200px;
    height: 3px;
    z-index: 27;
}

/*****MAIN - TAG-LINE & INTRO*****/
.main {
    position: absolute;
    top: 433px;
}

.main h2 {
    color: #77a466;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}

.main p {
    color: #000000;
    font-size: 16px;
    line-height: 25px;
}

/*****SPECIALS, REVIEWS, CONTACT*****/
.section-two {
    margin: auto;
    height: 210px;
    top: 577px;
    width: 1200px;
}

h3 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
}

.border-top-2 {
    border-width: 1px;
    border-color: #dedbdc;
    border-style: solid;
    position: center;
    top: 578px;
}  
 
.specials {
    width: 400px;
    float: left;
}

.specials p {
    color: #77a466;
    font-size: 16px;
    line-height: 18px;
}

.border-side-1 {
    border-width: 1px;
    border-color: #dedbdc;
    border-style: solid;
    margin-left: 418px;
    top: 578px;
    width: 0;
    height: 208px;
}

.reviews {
    padding: 10px;
    width: 400px;
    float: left;
}

.reviews p {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    margin-left: 448px;
    width: 329px;  
}

.border-side-2 {
    border-width: 1px;
    border-color: #dedbdc;
    border-style: solid;
    float: left;
    margin-left: 820px;
    top: 578px;
    width: 0;
    height: 208px;
}

.contact {
    padding: 10px;
    width: 400px;
    float: right;
}

.contact p {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

/*****FOOTER*****/
footer {
    clear: both;
    margin: auto;
    width: 1200px;
}

.border-bottom-2 {
    border-width: 1px;
    border-color: #dedbdc;
    border-style: solid;
    position: center;
    top: 788px;
    height: 0;
}

footer h2 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

footer span {
    color: #77a466;
    font-family: 'Galada', cursive;
    text-transform: lowercase;
}
